.todo-items {
  display: grid;
  grid-template-columns: 9fr repeat(3, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  list-style: none;
  background-color: var(--todo-color);
  padding: 10px;
  margin-block: 10px;
  border-radius: 5px;
  border-left: 5px solid var(--todo-border-color);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}
