.todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-block: 20px;
}

.my-tasks span {
  font-weight: lighter;
}

/* .create-task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
} */
